{{#with gemDetails as |details|}}
<section class="tab sc-sockets-gem-details {{details.part.cssClass}}"
         data-tab="{{details.part.tab}}"
         data-group="{{details.part.group}}"
         data-application-part="{{details.part.id}}">
  {{#if details.isGem}}

    <div class="sc-sockets-gem-details-container" data-sc-sockets="gem-details-container">
        <div class="form-group split-group sc-sockets-gem-critical-row">
          <fieldset class="form-group sc-sockets-gem-crit-threshold">
            <legend class="form-header">
              {{ localize "SCSockets.GemDetails.CritThreshold.Label" }}
              {{#if details.critThreshold.hint}}
                <i class="fa-solid fa-circle-info" data-tooltip="{{details.critThreshold.hint}}" aria-label="{{details.critThreshold.hint}}"></i>
              {{/if}}
            </legend>
            <div class="form-fields">
              <input type="number"
                     name="{{details.critThreshold.name}}"
                     value="{{details.critThreshold.value}}">
            </div>
        </fieldset>

          <fieldset class="form-group sc-sockets-gem-crit-multiplier">
            <legend class="form-header">
              {{ localize "SCSockets.GemDetails.CritMultiplier.Label" }}
              {{#if details.critMultiplier.hint}}
                <i class="fa-solid fa-circle-info" data-tooltip="{{details.critMultiplier.hint}}" aria-label="{{details.critMultiplier.hint}}"></i>
              {{/if}}
            </legend>
            <div class="form-fields">
              <input type="number"
                     name="{{details.critMultiplier.name}}"
                     value="{{details.critMultiplier.value}}">
            </div>
          </fieldset>

          <fieldset class="form-group sc-sockets-gem-attack-bonus">
            <legend class="form-header">
              {{ localize "SCSockets.GemDetails.AttackBonus.Label" }}
              {{#if details.attackBonus.hint}}
                <i class="fa-solid fa-circle-info" data-tooltip="{{details.attackBonus.hint}}" aria-label="{{details.attackBonus.hint}}"></i>
              {{/if}}
            </legend>
            <div class="form-fields">
              <input type="number"
                     name="{{details.attackBonus.name}}"
                     value="{{details.attackBonus.value}}">
            </div>
          </fieldset>
        </div>

        <fieldset class="form-group sc-sockets-gem-resource" data-sc-sockets="gem-resource">
          <legend class="form-header">
            {{ localize "SCSockets.GemDetails.Resource.Label" }}
            {{#if details.resource.hint}}
              <i class="fa-solid fa-circle-info" data-tooltip="{{details.resource.hint}}"></i>
            {{/if}}
          </legend>
          <div class="form-group split-group sc-sockets-gem-resource-row">
            <div class="form-group label-top sc-sockets-gem-resource-key">
              <label>{{ localize "SCSockets.GemDetails.Resource.Key" }}</label>
              <div class="form-fields">
                <input type="text"
                       name="{{details.resource.namePrefix}}.key"
                       value="{{details.resource.key}}"
                       placeholder="{{ localize 'SCSockets.GemDetails.Resource.KeyPlaceholder' }}">
              </div>
            </div>
            <div class="form-group label-top sc-sockets-gem-resource-number sc-sockets-gem-resource-current">
              <label>{{ localize "SCSockets.GemDetails.Resource.Value" }}</label>
              <div class="form-fields">
                <input type="number"
                       name="{{details.resource.namePrefix}}.value"
                       value="{{details.resource.value}}"
                       min="0" step="1">
              </div>
            </div>
            <div class="form-group label-top sc-sockets-gem-resource-number sc-sockets-gem-resource-maximum">
              <label>{{ localize "SCSockets.GemDetails.Resource.Max" }}</label>
              <div class="form-fields">
                <input type="number"
                       name="{{details.resource.namePrefix}}.max"
                       value="{{details.resource.max}}"
                       min="0" step="1">
              </div>
            </div>
          </div>
          <label class="checkbox sc-sockets-gem-resource-destroy">
            <input type="checkbox"
                   name="{{details.resource.namePrefix}}.destroyOnEmpty"
                   {{#if details.resource.destroyOnEmpty}}checked{{/if}}>
            <span>
              {{ localize "SCSockets.GemDetails.Resource.DestroyOnEmpty" }}
              <i class="fa-solid fa-circle-info" data-tooltip="{{ localize 'SCSockets.GemDetails.Resource.DestroyOnEmptyHint' }}"></i>
            </span>
          </label>
        </fieldset>

        <fieldset class="form-group sc-sockets-gem-tags" data-sc-sockets="gem-tags">
          <legend class="form-header">
            {{ localize "SCSockets.GemDetails.Tags.Label" }}
            <i class="fa-solid fa-circle-info" data-tooltip="{{details.tags.tooltip}}" aria-label="{{details.tags.tooltip}}"></i>
          </legend>
          <string-tags name="{{details.tags.name}}" value="{{details.tags.value}}"></string-tags>
        </fieldset>

        <fieldset class="form-group sc-sockets-gem-details sc-sockets-gem-extra-damage"
                  data-sc-sockets="gem-details"
                  data-default-number="{{details.damage.defaults.number}}"
                  data-default-die="{{details.damage.defaults.die}}"
                  data-default-bonus="{{details.damage.defaults.bonus}}">
          <legend class="form-header">
            {{ localize "SCSockets.GemDetails.ExtraDamage.Label" }}
            <i class="fa-solid fa-circle-info"
               data-tooltip="{{ localize 'SCSockets.GemDetails.ExtraDamage.Hint' }}"
               aria-label="{{ localize 'SCSockets.GemDetails.ExtraDamage.Hint' }}"></i>
          </legend>

          <div class="sc-sockets-gem-damage" data-sc-sockets="gem-damage">
            <div class="sc-sockets-gem-damage-rows">
              {{#each details.damage.entries as |entry i|}}
                <div class="form-group sc-sockets-gem-damage-row" data-index="{{i}}">
                  <div class="sc-sockets-gem-damage-row-chips">
                    {{#each entry.damageTypeOptions as |opt|}}
                      {{#if opt.selected}}
                        {{#if opt.removable}}
                          <button type="button"
                                  class="tag sc-sockets-gem-damage-type-chip"
                                  data-action="removeGemDamageType"
                                  data-index="{{../i}}"
                                  data-type-value="{{opt.value}}"
                                  aria-label="{{ localize 'SCSockets.GemDetails.ExtraDamage.Remove' }}">
                            <span>{{opt.label}}</span>
                            <i class="fa-solid fa-xmark"></i>
                          </button>
                        {{else}}
                          <span class="tag sc-sockets-gem-damage-type-chip is-static">{{opt.label}}</span>
                        {{/if}}
                      {{/if}}
                    {{/each}}
                  </div>
                  <div class="sc-sockets-gem-damage-row-top sc-sockets-gem-damage-row-header split-group {{#if entry.custom.enabled}}is-custom{{/if}}">
                    <div class="form-group label-top sc-sockets-gem-damage-formula-toggle-field">
                      <label>
                          {{ localize "DND5E.Formula" }}
                          <i class="fa-solid fa-circle-info"
                             data-tooltip="{{ localize 'SCSockets.GemDetails.ExtraDamage.FormulaHint' }}"
                             aria-label="{{ localize 'SCSockets.GemDetails.ExtraDamage.FormulaHint' }}"></i>
                      </label>
                      <div class="form-fields">
                        <label class="checkbox">
                          <input type="checkbox"
                                 name="{{../details.damage.namePrefix}}.{{i}}.custom.enabled"
                                 {{#if entry.custom.enabled}}checked{{/if}}>
                        </label>
                        {{#unless entry.custom.enabled}}
                          <input type="hidden"
                                 name="{{../details.damage.namePrefix}}.{{i}}.custom.formula"
                                 value="{{entry.custom.formula}}">
                        {{/unless}}
                      </div>
                    </div>
                    {{#if entry.custom.enabled}}
                      <div class="form-group label-top sc-sockets-gem-damage-formula-input-field">
                        <label>&nbsp;</label>
                        <div class="form-fields">
                          <input type="text"
                                 name="{{../details.damage.namePrefix}}.{{i}}.custom.formula"
                                 value="{{entry.custom.formula}}"
                                 placeholder="{{ localize 'SCSockets.GemDetails.ExtraDamage.FormulaPlaceholder' }}">
                          <input type="hidden"
                                 name="{{../details.damage.namePrefix}}.{{i}}.number"
                                 value="{{entry.number}}">
                          <input type="hidden"
                                 name="{{../details.damage.namePrefix}}.{{i}}.die"
                                 value="{{entry.die}}">
                          <input type="hidden"
                                 name="{{../details.damage.namePrefix}}.{{i}}.bonus"
                                 value="{{entry.bonus}}">
                        </div>
                      </div>
                    {{else}}
                      <div class="form-group label-top">
                        <label>{{ localize "SCSockets.GemDetails.ExtraDamage.Fields.Number" }}</label>
                        <div class="form-fields">
                          <input type="number"
                                 name="{{../details.damage.namePrefix}}.{{i}}.number"
                                 value="{{entry.number}}"
                                 min="0">
                        </div>
                      </div>
                      <div class="form-group label-top">
                        <label>{{ localize "SCSockets.GemDetails.ExtraDamage.Fields.Die" }}</label>
                        <div class="form-fields">
                          <select name="{{../details.damage.namePrefix}}.{{i}}.die">
                            {{#each entry.dieOptions as |opt|}}
                              <option value="{{opt.value}}" {{#if opt.selected}}selected{{/if}}>
                                {{opt.label}}
                              </option>
                            {{/each}}
                          </select>
                        </div>
                      </div>
                      <div class="form-group label-top">
                        <label>{{ localize "SCSockets.GemDetails.ExtraDamage.Fields.Bonus" }}</label>
                        <div class="form-fields">
                          <input type="number"
                                 name="{{../details.damage.namePrefix}}.{{i}}.bonus"
                                 value="{{entry.bonus}}"
                                 step="1">
                        </div>
                      </div>
                    {{/if}}
                    <div class="form-group label-top sc-sockets-gem-damage-type-select-field">
                      <label>
                        {{ localize "SCSockets.GemDetails.ExtraDamage.Type" }}
                        <i class="fa-solid fa-circle-info"
                           data-tooltip="{{ localize 'SCSockets.GemDetails.ExtraDamage.TypeHint' }}"
                           aria-label="{{ localize 'SCSockets.GemDetails.ExtraDamage.TypeHint' }}"></i>
                      </label>
                      <div class="form-fields">
                        <multi-select name="{{../details.damage.namePrefix}}.{{i}}.types">
                          {{#each entry.damageTypeOptions as |opt|}}
                            <option value="{{opt.value}}" {{#if opt.selected}}selected{{/if}}>
                              {{opt.label}}
                            </option>
                          {{/each}}
                        </multi-select>
                      </div>
                    </div>
                    <div class="form-group label-top sc-sockets-gem-damage-row-remove">
                      <label>&nbsp;</label>
                      <div class="form-fields">
                        <button type="button"
                                class="sc-sockets-gem-damage-remove"
                                data-action="removeGemDamage"
                                data-index="{{i}}"
                                data-tooltip="{{ localize 'SCSockets.GemDetails.ExtraDamage.Remove' }}">
                          <i class="fas fa-trash"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="form-fields sc-sockets-gem-damage-row-bottom sc-sockets-gem-damage-row-activity">
                    <div class="form-group label-top sc-sockets-gem-damage-activity-field">
                      <label>
                        {{ localize "SCSockets.GemDetails.ExtraDamage.Fields.Activity" }}
                        <i class="fa-solid fa-circle-info"
                           data-tooltip="{{ localize 'SCSockets.GemDetails.ExtraDamage.ActivityHint' }}"
                           aria-label="{{ localize 'SCSockets.GemDetails.ExtraDamage.ActivityHint' }}"></i>
                      </label>
                      <div class="form-fields">
                        <select name="{{../details.damage.namePrefix}}.{{i}}.activity">
                          {{#each entry.activityOptions as |opt|}}
                            <option value="{{opt.value}}" {{#if opt.selected}}selected{{/if}}>
                              {{opt.label}}
                            </option>
                          {{/each}}
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              {{/each}}
            </div>

            <div class="sc-sockets-gem-damage-actions">
              <button type="button"
                      class="sc-sockets-gem-damage-add"
                      data-action="addGemDamage">
                {{ localize "SCSockets.GemDetails.ExtraDamage.Add" }}
              </button>
              <button type="button"
                      class="sc-sockets-gem-damage-clear"
                      data-action="clearGemDamage">
                {{ localize "SCSockets.GemDetails.ExtraDamage.Clear" }}
              </button>
            </div>
          </div>
        </fieldset>
    </div>
  {{/if}}
</section>
{{/with}}
