<section class="tab activity-{{ tab.id }} {{ tab.cssClass }} sc-sockets-scma-activity sc-sockets-scma-effect sc-sockets-scma-effect--extraction" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
  {{#if appliedEffects}}{{> "systems/dnd5e/templates/activity/parts/activity-effects.hbs" }}{{/if}}

  <fieldset class="sc-sockets-scma-fieldset sc-sockets-scma-fieldset--configuration">
    <legend>{{ localize "SCSockets.Integrations.ScMoreActivities.SocketExtraction.Sections.Configuration" }}</legend>
    <p class="hint">{{ targetingHint }}</p>

    <div class="form-group">
      <label>{{ localize "SCSockets.Integrations.ScMoreActivities.SocketExtraction.Fields.TargetMode.Label" }}</label>
      <div class="form-fields">
        <select name="extraction.targetMode">
          {{ selectOptions targetModeOptions selected=extraction.targetMode valueAttr="value" labelAttr="label" }}
        </select>
      </div>
      <p class="hint">{{ localize "SCSockets.Integrations.ScMoreActivities.SocketExtraction.Fields.TargetMode.Hint" }}</p>
    </div>

    <div class="form-group">
      <label>{{ localize "SCSockets.Integrations.ScMoreActivities.SocketExtraction.Fields.Mode.Label" }}</label>
      <div class="form-fields">
        <select name="extraction.mode">
          {{ selectOptions modeOptions selected=extraction.mode valueAttr="value" labelAttr="label" }}
        </select>
      </div>
      <p class="hint">{{ modeHint }}</p>
    </div>

    {{#unless isSelfTarget}}
    <div class="form-group sc-sockets-scma-cursor-image-field">
      <label>{{ localize "SCSockets.Integrations.ScMoreActivities.Common.CursorImage.Label" }}</label>
      <div class="form-fields">
        <file-picker
          name="extraction.cursorImage"
          type="image"
          value="{{ extraction.cursorImage }}"
          placeholder="{{ localize "SCSockets.Integrations.ScMoreActivities.Common.CursorImage.Placeholder" }}"
        ></file-picker>
      </div>
      <p class="hint">{{ localize "SCSockets.Integrations.ScMoreActivities.Common.CursorImage.Hint" }}</p>
    </div>
    {{/unless}}
  </fieldset>
</section>
